label {
  color: #d9d8ce;
}

input[type=text] {
  width: 300%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #BD3DFF;
  border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #BD3DFF;
  border: none;
  padding: 18px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.form {
  content: "";
  clear: both;
  display: table;
  padding-left: 5%;
}

.col-lg-4 {
  padding-left: 10%;
  padding-right: 10%;
  color: #d9d8ce;
  text-align: center;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 100%;
  /* text-align: justify; */
}

.column a {
  text-decoration: none;
  color: #d9d8ce;
  font-size: 20px;
}
.Designs{
  color: #d9d8ce;
  font-size: 30px;
  padding: 0px;
}
.map {
  max-width: 200px;
  max-height: 200px;
 
}

.mapFrame {
  background: #BD3DFF;
  padding: 8px;
  border: 1px solid #BD3DFF;
}

.buttons {
  padding-top: 20px;
}

.conFooter {
  padding: 20px;
}
