/* TABLET RESPONSIVE */
@media only screen and (min-width: 768px) {
  ul li a {
    font-size: 4vmax;
  }

  .img_banner {
    display: block;
  }

  .img_main {
    padding-top: 30px;
  }

  .selfportrait {
    width: 75%;
    padding-left: 25%;
  }

  .map {
    width: 80%;
    padding-left: 20%;
  }

  .portrait figcaption {
    font-size: 3.5vmax;
  }

  .form-top {
    padding-left: 15%;
    padding-right: 15%;
  }

  .portrait p {
    font-size: 2.5vmax;
    font-weight: 500;
    color: #d9d8ce;
  }

  .column {
    width: 800px;
    margin: 0 auto;
  }

  .column img {
    padding-bottom: 2rem;
  }

  .address p {
    font-size: 2vmax;
    padding-bottom: 3rem;
  }

  .address p a {
    font-size: 3.5vmax;
    padding-bottom: 2rem;
    padding-top: 4rem;
    text-decoration: none;
  }
}

/* COMPUTER SCREEN RESPONSIVE */
@media only screen and (min-width: 969px) {
  .column {
    width: 969px;
  }

  .column p {
    font-size: 2vmax;
    margin-left:2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
  }

  .column img {
    padding-bottom: 5rem;
  }

  ul li {
    display: inline-block;
    text-align: -webkit-match-parent;
  }

  ul li a {
    font-size: 2.75vmax;
    padding-left: 1.5rem;
  }
.contact-nav{
  font-size: 3vmax;
  padding-left:2rem;
}
  .img_main {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }

  .map {
    width: 75%;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .self {
    padding-top: 1rem;
  }

  .portrait p {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .selfportrait {
    width: 70%;
    margin-left: 2rem;
  }

  .skills p {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .form-top {
    padding-left: 2rem;
    padding-right: 2rem;
  }
/*
  .column a p {
    padding-bottom: 4.5rem;
    /* padding-top: .5rem; */
  /* } */
}
