@media only screen and (min-width: 768px) {
  .img_banner {
    display: block;
  }

  .img_main {
    padding-top: 30px;
  }

  .column {
    width: 800px;
    margin: 0 auto;
  }

  .column p {
    padding: 20px 0px 0px;
    margin: 0 auto;
  }

}

@media only screen and (min-width: 1200px) {
  .column {
    width: 1200px;
  }
  .column p {
    padding: 20px 0px 30px;
}
ul li {
    display:inline-block;
    text-align: -webkit-match-parent;
}

ul li a{
  margin-left:40px;

}
