body {
  background-color: black;
  margin: 0;
}

nav {
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}

nav li {
  float: left;
  display: inline;
  width: 16.645%;
  font-size: 1.5vw;
}

svg {
  verflow: hidden;
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'Luminari';
  font-size: 10vw;
  text-align: center;
  color: white;
  padding: 0;
}

@font-face {
  font-family: 'Luminari';
  font-style: normal;
  font-weight: bolder;
  src: local('Luminari'), url('Luminari-Regular.woff') format('woff');
}

li a {
  display: block;
  color: black;
  background-color: #BD3DFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  color: white;
}

@media screen and (max-width: 460px) {
  li {
    width: 100% !important;
    float: none !important;
  }
}

figcaption {
  color: white;
  font-size: 1.25vw;
  text-align: center;
}
label{
  color:white;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #BD3DFF;
  border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #BD3DFF;
  border: none;
  color: white;
  padding: 18px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.map {
  max-width: 25%;
  max-height: 25%;
  border-style: solid white;
}

.form {
  content: "";
  clear: both;
  display: table;
  padding-left: 5%;
}


.item1 {
  max-width: 100%;
  max-height: 100%;
  padding-top: 0;
}

.item2 {
  padding-left: 25%;
  padding-right: 25%;
}

.row {
  display: flex;
  align-content: center;
  overflow: hidden;
}

.column {
  float: left;
  width: 25%;
  /* padding-left: 5%;
  padding-right: 5%; */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  text-align: center;
  background-color: #BD3DFF;
  content: "";
  clear: both;
  font-size: 2vw;
}

.footer a {
  color: black;
  text-decoration: none;
}

.col-lg-4 {
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  text-align: center;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 100%;
  /* text-align: justify; */
}
.col-lg-4 a{
  text-decoration: none;
  color: white;
  font-size: 1vw;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rounded-circle {
  border-radius: 50% !important;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.marketing .col-lg-4 {
  text-align: center;
}

.about {
  font-size: 1.5vw;
  text-align: justify;
  /* padding-left: 15%;
  padding-right: 15%; */
}
