body {
  background-color: #1e1e1e;
  margin: 0;
}

nav {
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
  display: inline;
  width: 16.645%;
  font-size: 2vw;
}

svg {
  verflow: hidden;
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'Lucida', sans-serif;
  font-size: 10vw;
  text-align: center;
  color: #d9d8ce;
  padding: 0;
}

.column p {
  color: #d9d8ce;
}

@font-face {
  font-family: 'Lucida';
  font-style: normal;
  font-weight: bolder;
  src: local('Lucida'), url('Lucida-Grande-Bold.woff') format('woff');
}

li a {
  display: block;
  color: black;
  background-color: #BD3DFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #d9d8ce;
}

figcaption {
  color: #d9d8c;
  font-size: 2vw;
  text-align: center;
  color: #d9d8ce;
  padding-bottom: 5%;
  /* padding-left: 25%; */
}
.padding1{
  margin-left: 50px;
}
.item1 {
  max-width: 100%;
  max-height: 100%;
  padding-top: 0;
}

.item2 {
  padding-left: 25%;
  padding-right: 25%;
}

.row {
  display: flex;
  align-content: center;
  overflow: hidden;
}

.gridcontainer {
  display: flex;
  flex-wrap: wrap;
}

.column {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.figure {
  margin-left: 10%;
  margin-right: 10%;
}

.footer {
  text-align: center;
  background-color: #BD3DFF;
  content: "";
  clear: both;
  font-size: 2vw;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rounded-circle {
  border-radius: 50% !important;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.marketing .col-lg-4 {
  text-align: center;
}
