*{
  margin:0;
  padding: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}
body {
  background-color: #1e1e1e;
}


svg {
  verflow: hidden;
  vertical-align: middle;
}
h1 {
  font-family: 'Lucida Grande', sans-serif;
  font-size: 10vmax;
  text-align: center;
  color: #d9d8ce;
  padding: 0;
  padding-bottom: 20px;
}

figcaption {
  color: #d9d8ce;
  font-size: 3vmax;
  text-align: center;
  padding-top: 5px;
}

@font-face {
  font-family: 'Lucida';
  font-style: normal;
  font-weight: bolder;
  src: local('Luminari'), url('Luminari-Regular.woff') format('woff');
}

ul li a {
  font-family: 'Lucida Grande', sans-serif;
  font-size: 3vmax;
  text-align: center;
  padding: 0;
  display: block;
  color: black;
  font-weight: bolder;
  background-color: #BD3DFF;
  text-align: center;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111;
  color: #d9d8ce;
}


label{
  color: #d9d8ce;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #BD3DFF;
  border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #BD3DFF;
  border: none;
  color: #d9d8ce;
  padding: 18px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.img_main{
width: 100%;
height: auto;
repeat:none;
}
.img_banner{
  width: 100%;
  height: auto;
  display: none;
  color: #d9d8ce;

}
.self{
  font-size: 2vmax;
}
.portrait figcaption{
  padding-bottom: 20px;
  font-size: 2vmax;
  font-weight:500;
}
.map {
 max-width: 50%;
  max-height: 50%;
  color: #d9d8ce;
}

.address p{
  font-family: 'Lucida Grande', sans-serif;
  font-size: 1.25vmax;
  text-align: center;
  color: #d9d8ce;
  padding: 0;
  padding-bottom: 20px;
}
.address p a{
  font-family: 'Lucida Grande', sans-serif;
  font-size: 2.5vmax;
  text-align: center;
  color: #d9d8ce;
  padding: 0;
  padding-bottom: 20px;
  text-decoration: none;
}
.form {
  content: "";
  clear: both;
  display: table;
  padding-left: 5%;
}


.item1 {
  max-width: 100%;
  max-height: 100%;
  padding-top: 0;
  text-decoration: none;
}
.nav{
  background-color: #BD3DFF;
}
.item2 {
  padding-left: 25%;
  padding-right: 25%;
}

.row {
  display: flex;
  align-content: center;
  overflow: hidden;
}

.column {
  float:none;
  width:100%;
  padding-left: 30px;
  padding-right: 30px;
}


.column p {
  color: #d9d8ce;
  font-size: 4vmax;
  padding-bottom: 30px;
}
.column a{
  text-decoration: none;
  padding-top: 40px;
  padding-bottom: 20px;
}
.column a figcaption{
  text-decoration: none;
  padding-bottom: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  font-family: 'Lucida Grande', sans-serif;
  font-weight:bold;
  text-align: center;
  background-color: #BD3DFF;
  content: "";
  clear: both;
  font-size: 3vmax;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rounded-circle {
  border-radius: 50% !important;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}



.marketing .col-lg-4 {
  text-align: center;
}
